.App-Wrapper{
 /*width: 100vw;*/

}
.Container{
 color: #282c34;
}
.Header-Content{
}
.Header{
 /*overflow: hidden;*/
}
.Header-Top{
 height: 100vh;
 left: 0;
 right: 0;
 position: absolute;
 z-index: 5;
 background-color: rgba(0, 0, 0, 0.4);
}

/*.Video{*/
/* background-size: cover;*/
/* height: 100vh;*/
/* width: 100vw;*/
/* left: 0;*/
/* right: 0;*/
/*}*/

