.Footer {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    height: 7vh;
    width: 100vw;
    /*z-index: 3;*/
}

.NavigationMenu {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    padding-left: 22%;
}

.Container div {
    padding: 15px;
}

@media (max-width: 1199px) {
    .Footer {
        display: none;
    }
}