.Wrapper {
    color: white;
    width: 100vw;
}
.Container{
    margin-top: 14vh;
}
.HeaderTitle {
    padding-top: 10vh;
    padding-left: 3vw;
}

.HeaderTitle img {
    width: 120px;

}
.Content h1 {
    line-height: 0px;
    font-size: 42px;
}
.Content p {
    line-height: 0px;
    text-align: center;
    font-size: 46px;
    font-weight: 700;

}
.Content span {
    font-size: 23px;
    font-weight: 500;

}
.Info{
    width: 448px;
    padding-left: 3vw;
}
.Content {
    display: flex;
    justify-content: space-between;

}
.Content img{
    width: 149px;
}

.Btn {
    padding-left: 6vw;
    padding-top: 30px;
}

@media (max-width: 780px) {
    .HeaderTitle img {
        width: 120px;
    }
    .Container {
        font-size: 18px;
    }
    .Content {
        width: 350px;
    }
}
@media (max-width: 414px) {
    .HeaderTitle img {
        width: 50px;
    }
    .Container {
        font-size: 13px;
    }
    .Content {
        width: 240px;
    }
}
