.Wrapper{
    height: 100vh;
    /*background: rgba(0, 128, 130, 0.9);*/
    color: white;
    padding: 50px;
    overflow: hidden;
}
.Container{
    display: flex;
    justify-content: space-between;
    max-width: 90vw;
    margin: 0 auto;
}
.Content{
    width: 60%;
}
.Content li{
    padding-bottom: 50px;
    font-size: 29px;
    line-height: 32px;
}
.ButtonImg img{
    width: 600px;
}
.Button{
    padding-left: 80%;
}

@media (max-width: 1280px) {
    .ButtonImg img{
        width: 400px;
    }
}

@media (max-width: 1080px) {
    .ButtonImg img{
        width: 300px;
    }
    .Content{
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .Wrapper{
        padding: 50px 0 0 0px;
    }
    .Container{
        display: inline-block;
    }
    .Content li{
        padding-bottom: 10px;
        font-size: 18px;
        line-height: 17px;
        margin-left: 10px;
    }
    .ButtonImg img{
        padding-left: 100px;
        width: 150px;
    }
    .Content{
        width: 90%;
        font-size: 13px;
        line-height: 15px;
    }
    .Button{
        padding-left: 13%;
    }
}
