.Wrapper{
    height: 100vh;
    background: rgba(0, 128, 130, 0.9);
    color: white;
    padding: 50px;
    overflow: hidden;
}
.Container{
    max-width: 80vw;
    margin: 0 auto;
}
.Content{
    height: 50vh;
}
.Content p{
    text-indent: 20px;
    font-size: 16px;
}
.Gallery{
    display: flex;
    justify-content: space-between;
}
.BackButton{
    padding-left: 88%;
}