.Wrapper {
    height: 100vh;
    background: rgba(0, 128, 130, 0.9);
    color: white;
    padding: 50px;
    overflow: hidden;
}

.Container {
    max-width: 80vw;
    margin: 0 auto;
}

.Title {
    line-height: 0px;
    padding-left: 12%;
    font-size: 25px;
}

.Gallery {
    display: flex;
    justify-content: space-between;
}

.Gallery div {
    width: 225px;
    padding: 18px;
    background-color: cadetblue;
    transition: all .5s;
    cursor: pointer;
}
.Gallery div:hover{
    background: rgba(255, 255, 255, 0.6);
}
.Gallery img {
    width: 190px;
    padding-left: 17px;
}
.Gallery span{
    font-size: 23px;
    padding-left: 15px;
}
.Gallery b{
    margin-left: 10px;
}
.TitleAnt{
    line-height: 0px;
    font-size: 30px;
    padding-left: 39%;
}

.ImgAnt{
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
}
.ImgAnt img{
    cursor: pointer;
}
.ImgAnt:hover{
    background: rgba(255, 255, 255, 0.6);
}
.Beer img{
    padding-top: 45px;
    width: 90px;
}
.Kasper img{
    padding-top: 45px;
    width: 90px;
}
.ImgPrograms{
    width: 800px;
    margin-left: 26%;
    cursor: pointer;
    background-color: cadetblue;
}
.ImgPrograms:hover{
    background: rgba(255, 255, 255, 0.6);
}
.BackButton{
    padding-left: 90%;
}
