.Wrapper{
    height: 100vh;
    /*background: rgba(0, 128, 130, 0.9);*/
    color: white;
    padding: 50px;
    overflow: hidden;
}
.Container{
    display: flex;
    justify-content: space-between;
    max-width: 90vw;
    margin: 0 auto;
}
.Content p{
    text-indent: 20px;
    font-size: 16px;
}
.BackButton{
    padding-left: 88%;
}
.Gallery{
    max-width: 260px;
}
.Gallery img{
    padding: 20px;
    width: 200px;
    cursor: pointer;
}

@media (max-width: 1150px) {
    .List {
        font-size: 14px;
    }
    .Title h3{
        font-size: 20px;
    }
    .Content p{
        font-size: 14px;
    }
    .BackButton{
        padding-left: 75%;
    }
}

@media (max-width: 650px) {
    .Wrapper{
     padding: 50px 10px 0 10px;
    }
    .List {
        font-size: 10px;
        line-height: 11px;
    }
    .Title h3{
        font-size: 10px;
        line-height: 11px;
    }
    .Content p{
        font-size: 11px;
        line-height: 11px;
    }
    .BackButton{
        padding-left: 75%;
    }
    .Gallery img{
        padding: 20px;
        width: 63px;
        cursor: pointer;
    }
    .BackButton{
        padding-left: 50%;
    }
}
