.Wrapper{
    height: 100vh;
    background: rgba(0, 128, 130, 0.9);
    color: white;
    padding: 50px;
    overflow: hidden;
}
.Container{
    max-width: 90vw;
    margin: 0 auto;
}
.Content div{
    margin: 50px 0;
}
.Button{
    padding-left: 90%;
}

@media (max-width: 1330px) {
    .Content{
        font-size: 15px;
    }
    .Content div{
        margin: 20px 0;
    }
    .Button{
        padding-left: 80%;
    }
}

@media (max-width: 670px) {
    .Content{
        font-size: 11px;
        line-height: 15px;
    }
    .Button{
        padding-left: 50%;
    }
}