.Wrapper{
    height: 100vh;
    background: rgba(0, 128, 130, 0.9);
    color: white;
    padding: 50px;
    overflow: hidden;
}
.Container{
    max-width: 90vw;
    margin: 0 auto;
}
.Content div{
    margin: 50px 0;
}
.Button{
    padding-left: 90%;
}