.VideoInner {
    height: 100vh;
    max-width: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
}
.Video {
    width: 2122px;
    background-size: cover;
    background: center;
}
.MediaInner {
    display: none;
}
@media (max-width: 1023px) {
    @media (max-height: 812px) {
        .BigMovie {
            display: none;
        }
        .MediaInner {
            display: block;
            background-size: cover;
            background: center;
        }
        .VideoInner {
            height: 100vh;
            width: 100vw;
        }
    }
}

