.wrapper {
    display: inline-block;
    border: 1px solid red;
    padding: 6px 22px;
    background: rgba(255, 255, 255, 0.15);
    transition: all .5s;
    cursor: pointer;
}
.wrapper:hover{
    background-color: aqua;

}

.ToWrapper {
    /*width: 30px;*/
    /*height: 40px;*/
    /*border: 1px solid red;*/
}
.ToContainer img{
    width: 89px;
    height: 80px;
    border-radius: 20%;
    border: 2px solid black;
    cursor: pointer;
}
.ButtonUp{

}
@media (max-height: 600px) {
    .wrapper {
        padding: 2px 22px;
    }
}
