.Wrapper{
    height: 100vh;
    background-image: url("../../assets/img/Map.png");
    background-size: cover;
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    display: flex;
    justify-content: space-between;
}
.Container{
    padding: 50px;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
}
.Container div{
    padding-bottom: 10px;
}
.BackContainer{
    
}
.ButtonUp{
   padding: 800px 20px 0 0;
}
@media (max-width: 1270px) {

}

@media (max-width: 833px) {
    .Container{
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
    }
}

@media (max-width: 416px) {
    .Container{
        font-size: 9px;
        font-weight: 700;
        line-height: 25px;
    }
}