html{
    box-sizing: border-box;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    width: 15px; /* ширина для вертикального скролла */
    height: 5px; /* высота для горизонтального скролла */
    background: black;
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    transition: all .5s;
    border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: aqua;
}

a {
    text-decoration: none;
    color: white;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgba(228, 255, 251, 0.7);
    color: red;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    /*font-family: 'Roboto Slab', serif;*/
}