.InputWrapper {
    width: 450px;
    border-bottom: 2px solid black;
}

.InputWrapper input {
    background-color: darkcyan;
    color: white;
    padding-left: 10px;
    /*Сброс стандартных стилей*/
    text-decoration: none;
    border: none;
    outline: none;
}
.InputWrapper input::placeholder {
    color: darkgray;
}

.TextareaWrapper {

}

.TextareaWrapper textarea {
    /*!* = Убираем скролл *!*/
    overflow: auto;
    /*!* = Убираем увеличение *!*/
    resize: none;
    /*background-color: darkcyan;*/
    text-decoration: none;
    border: none;
    outline: none;
    padding: 10px;
}

.TextareaWrapper textarea::placeholder {
    color: rgba(38, 55, 54, 0.9);
}