.Wrapper {
    height: 100vh;
    width: 100vw;
    color: white;
}

.Content {
    z-index: 1;
    max-width: 1270px;
    margin: 0 auto;
}
.ContentInner {
    padding-top: 43px;
}
.ContentInner h4 {
    text-align: center;
    padding: 27px 0 138px 0;
    font-size: 60px;
    line-height: 0;
    margin: 25px 0;
    text-shadow: 5px 4px 2px black, 0 0 2em cornflowerblue;
}
.ContentInner p {
    font-size: 22px;
    line-height: 30px;
    font-family: 'Roboto Slab', serif;
    padding: 0 10px 0 40px;
}
.TopContent {
    display: flex;
    justify-content: space-between;
}
.CenterContent {
    display: flex;
    justify-content: space-between;
}
.ButtonContent {
    display: flex;
    justify-content: space-between;
}
.PostInner {
    width: 585px;
    height: 259px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

.PostSpan {
    font-size: 16px;
    line-height: 25px;
    margin-left: 50px;
}

.PostBtn {
    margin: 19px 0 0 193px;
}

.tLbInner,
.tRbInner,
.cLbInner,
.cRbInner,
.bLbInner,
.bRbInner,
.PostInner{
    background-repeat: no-repeat;
    background-size: cover;
    width: 585px;
    height: 259px;
    border-radius: 30px;
}
.tLbInner {
    background-image: url("../../assets/img/Abaut/Fix2.png");
}

.tRbInner {
    background-image: url("../../assets/img/Abaut/pillll.jpg");
}

.cLbInner {
    background-image: url("../../assets/img/Abaut/unnamed.jpg");
}

.cRbInner {
    background-image: url("../../assets/img/Abaut/remont.jpg");
}

.bLbInner {
    background-image: url("../../assets/img/Abaut/shablon3.png");
}

.bRbInner {
    background-image: url("../../assets/img/Abaut/gm.png");
}

@media (max-width: 1380px) {
    .Content {
        max-width: 980px;
    }

    .tLbInner,
    .tRbInner,
    .cLbInner,
    .cRbInner,
    .bLbInner,
    .bRbInner,
    .PostInner {
        width: 416px;
        height: 194px;
    }
    .PostSpan {
        font-size: 12px;
        line-height: 25px;
        margin-left: 50px;
    }
    .PostBtn {
        margin: 0 0 0 222px;
        font-size: 20px;
    }
    .ContentInner h4 {
        padding: 7px 0 8px 0;
        line-height: 30px;
        font-size: 50px;
    }
    .ContentInner p {
        font-size: 15px;
        line-height: 19px;
    }
}

@media (max-width: 1090px) {
    .Content {
        max-width: 900px;
    }
    .ContentInner {
        padding-top: 50px;
    }
    .tLbInner,
    .tRbInner,
    .cLbInner,
    .cRbInner,
    .bLbInner,
    .bRbInner,
    .PostInner {
        width: 392px;
        height: 181px;
    }
    .PostSpan {
        font-size: 10px;
        line-height: 25px;
        margin-left: 50px;
    }
    .PostBtn {
        margin: 0 0 0 218px;
        font-size: 15px;
    }
    .ContentInner h2 {
        padding-top: 10px;
        font-size: 25px;
    }
    .ContentInner p {
        font-size: 12px;
        line-height: 26px;
    }
}

@media (max-width: 925px) {
    .Content {
        max-width: 700px;
    }
    .ContentInner {
        padding-top: 60px;
    }
    .tLbInner,
    .tRbInner,
    .cLbInner,
    .cRbInner,
    .bLbInner,
    .bRbInner,
    .PostInner {
        width: 313px;
        height: 129px;
    }
    .PostSpan {
        font-size: 12px;
        line-height: 25px;
        margin-left: 50px;
    }
    .PostBtn {
        margin: 0 0 0 100px;
        font-size: 15px;
    }
    .ContentInner h4 {
        line-height: 0;
        padding-top: 10px;
        font-size: 18px;
    }
    .ContentInner p {
        font-size: 10px;
        line-height: 19px;
    }
}

@media (max-width: 840px) {
    .Content {
        max-width: 400px;
    }
    .TopContent {
        display: inline-block;
    }
    .CenterContent {
        display: inline-block;
    }
    .ButtonContent {
        display: inline-block;
    }
}

@media (max-width: 767px) {
    .ContentInner {
        padding-top: 50px;
    }
    .Content {
        max-width: 230px;
    }
    .tLbInner,
    .tRbInner,
    .cLbInner,
    .cRbInner,
    .bLbInner,
    .bRbInner,
    .PostInner {
        width: 226px;
        height: 84px;
        margin: 0;
        border-radius: 15px;
    }
    .PostSpan {
        font-size: 12px;
        line-height: 25px;
        margin-left: 50px;
    }
    .PostBtn {
        margin-left: 55px;
        font-size: 12px;
    }
    .ContentInner h4 {
        padding: 7px 0 8px 0;
        font-size: 20px;
    }
}
@media (max-height: 668px) {
    .tLbInner,
    .tRbInner,
    .cLbInner,
    .cRbInner,
    .bLbInner,
    .bRbInner,
    .PostInner {
        height: 74px;
        line-height: 15px;
    }
}
