.Wrapper{
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    width: 100vw;
    line-height: 20px;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.5);
}

.Container{
    max-width: 1200px;
    margin: 0 auto;
}
.Header{

}
.HeaderInner{
    display: flex;
    justify-content: space-between;
}
.NavigationMenu{
    display: flex;
    padding: 15px;
}
.NavigationMenu a{
    padding: 15px;
    text-decoration: underline;
}
.NavigationMenu a:hover {
    transition: all .3s;
    transform: scale(1.2);
    font-size: 30px;
    font-weight: 700;
    color: aqua;
}
.Logo img{
    width: 45px;
    padding-left: 30px;
}
.Logo img:hover {
    cursor: pointer;
    --stroke-pos: 1px;
    --stroke-neg: -1px;
    --stroke-color: aqua;
    filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}
.Button{
    margin-top: 6px;
    padding-right: 40px;
}

@media (max-width: 1199px) {
    .Wrapper{
        font-size: 22px;
    }
    .Container{
        max-width: 414px;
        padding-right: 290px;
    }
    .Logo img{
        width: 30px;
        padding-left: 10px;
        padding-top: 8px;
    }
    .NavigationMenu {
        padding: 9px 76px 0 10px;
    }
    .NavigationMenu a{
        padding: 10px;
    }
    .Button{
        display: none;
    }
    .NavigationMenu a:hover {
        font-size: 22px;
    }
}
@media (max-width: 768px) {
    .Wrapper{
        font-size: 20px;
    }
    .Container{
        max-width: 414px;
        padding-right: 200px;
    }
    .Logo img{
        width: 30px;
        padding-left: 10px;
        padding-top: 8px;
    }
    .NavigationMenu {
        padding: 9px 76px 0 10px;
    }
    .NavigationMenu a{
        padding: 10px;
    }
    .Button{
        display: none;
    }
    .NavigationMenu a:hover {
        font-size: 22px;
    }
}

@media (max-width: 560px) {
    .Wrapper{
        font-size: 10px;
    }
    .Container{
        max-width: 414px;
    }
    .Logo img{
        width: 25px;
        padding-left: 10px;
        padding-top: 8px;
    }
    .NavigationMenu {
        padding: 9px 76px 0 0;
    }
    .NavigationMenu a{
        padding: 10px;
    }
    .Button{
        display: none;
    }
    .NavigationMenu a:hover {
        font-size: 15px;
    }
}
@media (max-width: 380px) {
    .Wrapper{
        font-size: 10px;
    }
    .Container{
        max-width: 414px;
    }
    .Logo img{
        width: 25px;
        padding-left: 10px;
        padding-top: 8px;
    }
    .NavigationMenu {
        padding: 9px 76px 0 0;
    }
    .NavigationMenu a{
        padding: 5px;
    }
    .Button{
        display: none;
    }
    .NavigationMenu a:hover {
        font-size: 13px;
    }
}