.Wrapper{
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    width: 100vw;
    line-height: 20px;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.5);
}

.Container{
    max-width: 1200px;
    margin: 0 auto;
}
.Header{

}
.HeaderInner{
    display: flex;
    justify-content: space-between;
}
.NavigationMenu{
    display: flex;
    padding: 15px;
}
.NavigationMenu a{
    padding: 15px;
}
.NavigationMenu a:hover {
    /*--stroke-pos: 0.1px;*/
    /*--stroke-neg: -0.1px;*/
    /*--stroke-color: aqua;*/
    /*filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color))*/
    /*drop-shadow(var(--stroke-neg) 0 var(--stroke-color))*/
    /*drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color))*/
    /*drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color))*/
    /*drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color))*/
    font-size: 30px;
    font-weight: 700;
    color: aqua;

}
.Logo img{
    width: 45px;
}
.Logo img:hover {
    --stroke-pos: 1px;
    --stroke-neg: -1px;
    /*--stroke-color: rgba(0, 255, 0, 0.5);*/
    --stroke-color: aqua;
    filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color));
}
.Button{
    margin-top: 6px;
}
