.Wrapper{
    background-color: black;
}
.first, .two, .three, .For, .Fiwe {
    background-size: cover;
    background-position: center;
    height: 100vh;
    left: 0;
    right: 0;
}
.first {
    background-image: url("../../assets/img/green nvidia.jpg");
}
.two {
    background-image: url("../../assets/img/green-computer.jpg");
}
.three {
    background-image: url("../../assets/img/1400.jpg");
}
.For{
    background-image: url("../../assets/img/ais.jpg");
}
.Fiwe{
    background-image: url("../../assets/img/Top-Free-RGB.jpg");
}
